* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #ffc3a1;
  height: 2000px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a75d5d;
}
li {
  display: inline-block;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #d3756b;
}

.textshop {
  padding-top: 70px;
  padding-left: 350px;
  padding-bottom: 50px;
  font-size: 45px;
}

.imgitem {
  width: 200px;
  height: 200px;
}
.totalitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  position: relative;
  margin-bottom: 50px;
  height: 400px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 40px;
  background-color: aliceblue;
}

.item button {
  margin-top: 10px;
}
button {
  width: 175px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #a75d5d;
  background-color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button:hover {
  border-style: dashed;
}

.picbim {
  width: 150px;
  height: auto;
}
.tdbim {
  display: flex;
  align-items: center;
}
.inputbim {
  width: 50px;
  outline: none;
}
.deletebim {
  cursor: pointer;
}
.cart {
  position: absolute;
  right: 0px;
  top: 0;
  height: 1000px;
  width: 30%;
  background-color: cadetblue;
  overflow-y: scroll;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  /* right: -100%; */
}
.cart button {
  width: 175px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #a75d5d;
  background-color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cart button:hover {
  border-style: dashed;
}
.titleCart {
  font-size: 35px;
  padding-bottom: 50px;
}
.cart table {
  width: 100%;
}
.cart table tr td {
  border-bottom: 3px solid #ffff;
  padding: 12px 0;
}
.totalcart {
  text-align: right;
}

.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
.gg-shopping-cart {
  display: inline;
}

.cart-icon i,
p {
  cursor: pointer;
}

.cart i {
  cursor: pointer;
  padding-bottom: 10px;
}
