* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #ffc3a1;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a75d5d;
}
li {
  display: inline-block;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: #d3756b;
}

.textshop {
  padding-top: 70px;
  /* padding-left: 350px; */
  padding-bottom: 50px;
  font-size: 45px;
  text-align: center;
}

.imgitem {
  width: 200px;
  height: 200px;
}
.totalitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin-bottom: 50px;
  height: 400px;
  text-align: center;
  font-size: 30px;
  position: relative;
  border-style: solid;
  border-radius: 10px;
  background-color: aliceblue;
}

.item button {
  margin-top: 10px;
}
button {
  width: 175px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #a75d5d;
  background-color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button:hover {
  border-style: dashed;
}

.picbim {
  width: 100px;
  height: auto;
}
.tdbim {
  display: flex;
  align-items: center;
}
.inputbim {
  width: 50px;
  outline: none;
}
.deletebim {
  cursor: pointer;
}
.cart {
  position: fixed;
  right: 20px;
  bottom: 0;
  height: 510px;
  width: 30%;
  background-color: blanchedalmond;
  overflow-y: auto;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 10px;
  bottom: -100%;
  transition: all 0.7s ease;
  border-radius: 10px;
  border-style: solid;
  border-color: #a75d5d;
  border-width: 4px;
}
.cart button {
  width: 175px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #a75d5d;
  background-color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cart button:hover {
  border-style: dashed;
}
.cart input {
  border: none;
  border-radius: 5px;
}
.titleCart {
  font-size: 35px;
  padding-bottom: 30px;
  text-align: center;
}
.title {
  padding-left: 15px;
}
.cart table {
  width: 100%;
}
.cart table tr td {
  padding: 15px 0;
}
.totalcart {
  text-align: right;
}

.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
.cart-icon {
  border: 2px solid;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-top: 7px;
  width: 175px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  background-color: cornsilk;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cart-icon i {
  padding-right: 10px;
}

.cart i {
  cursor: pointer;
  padding-bottom: 30px;
}
.cart button {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  background-color: #d3756b;
  color: #fff;
  cursor: pointer;
}
.cart button:hover {
  border-style: none;
}
.totalcart p {
  padding-top: 10px;
  font-size: 25px;
}
.priceitem {
  color: crimson;
  font-size: smaller;
}
@media screen and (max-width: 840px) {
  .textshop {
    font-size: 35px;
    transition: all 0.7s ease;
  }
  .cart {
    width: 45%;
    transition: all 0.7s ease;
    height: 475px;
  }
  .item {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-bottom: 50px;
    height: 400px;
    transition: all 0.7s ease;
  }
  li a {
    transition: all 0.7s ease;
  }
}
@media (max-width: 501px) {
  .textshop {
    font-size: 33px;
    transition: all 0.7s ease;
  }
  .cart {
    width: 70%;
    height: 400px;
    transition: all 0.7s ease;
  }
  li a {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    transition: all 0.7s ease;
  }
  .item {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 20px;
    height: 400px;
    transition: all 0.7s ease;
  }
}
